@import './variables.module.scss';

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;

    input {
        width: auto;
        border-radius: 10px;
        padding: 8px;
        border: solid 2px rgb(69, 67, 67);
        font-size: 16px;

        &:hover {
            border-color: red;
        }

        &:focus {
            border-color: green;
        }
    }

    label {
        font-weight: bold;
        font-size: 16px;
        padding: 5px;
    }
}

.m-10 {
    margin: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $link-color-hover;
    }

    &:focus {
        color: $link-color-focus;
    }
}

